body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  background-image: url("https://img.freepik.com/premium-photo/black-marble-texture-abstract-background-pattern-design_158502-344.jpg");
  max-width: 800px;
  margin: 50px auto;
  background-color: #0f0f0f;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
}

h1 {
  color: #f5f4ef; 
  margin-bottom: 10px;
}

h2 {
  color: #81caec; 
  margin-top: 5px;
}

p {
  color: #9c8d8d;
  margin: 10px 0;
}

section {
  margin-bottom: 20px;
}

ul {
  color: white;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

.contact {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 20px;
}

.contact p {
  margin: 5px 0;
}

footer {
  text-align: center;
  margin-top: 20px;
  color: #7f8c8d; /* Silver */
}
