*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(7, 74, 93);
    width: 97,5% ;
    height: 80px;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: 10px solid rgb(7, 74, 93);
 
  margin-top: 3%;
  
}


h1{
    margin-top: 20px;
 text-align: center;
 

}
body{
    background: linear-gradient(rgb(105, 82, 117),rgb(7, 74, 93));
    padding: 5px;
    height: 100%;
}
.divvv{
    background: linear-gradient(rgb(103, 101, 101),rgb(0, 0, 0));
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230vh;
    width: 164vh;
    margin-top: 50px;
    margin: 150px;
  
    
}
ul{
    display: flex;
    align-items: center;
    list-style: none;
   
}
.nav{
    display: flex;
    align-items: center;
    margin-top: 20px;
  position: relative;
   
    margin: 10px;

}
li{
    margin: 30px;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    padding: 5px;
    border-radius: 30px;
   background-color: white;
   color: rgb(34, 2, 50);
    
}
.center{
    text-align: center;
}
input {
   
    width: 120%;
    padding: 12px 20px;
    margin: 8px -83px 30px 0px;
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    float: right;
  }
  label{
    color: white
  }

#Education{
    width: 120%;
    padding: 12px 20px;
    margin: 8px -83px 30px 0px;
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    float: right;
}
button{
    background-color: green;
    color: white;
    font-size: large;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 700px;
    width: 200px;
    height: 50px;
}

  
  